* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.head {
  background-color: wheat;
  font-family: Georgia, Times, "Times New Roman", serif; }
  .head li :hover {
    background-color: aliceblue; }

.fond {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%); }

.main {
  padding: 14vh;
  font-family: Georgia, Times, "Times New Roman", serif; }
  .main .tittle1 {
    font-family: Georgia, Times, "Times New Roman", serif;
    text-align: center;
    color: #f7f5b2;
    background-color: gray; }

.section {
  padding: 5vh;
  font-family: Georgia, Times, "Times New Roman", serif; }
  .section .textocarrusel {
    background-color: gray;
    text-align: center;
    color: #f7f5b2; }
  .section .tittle3 {
    background-color: gray;
    text-align: center;
    color: #f7f5b2; }

.foot {
  background-color: wheat; }
  .foot .fontfoot {
    color: gray; }

.main2 {
  padding: 3vh;
  font-family: Georgia, Times, "Times New Roman", serif; }
  .main2 .texttitt {
    background-color: gray;
    text-align: center;
    color: #f7f5b2; }

.main3 {
  padding: 3vh;
  font-family: Georgia, Times, "Times New Roman", serif; }
  .main3 .text {
    background-color: gray;
    text-align: center;
    color: #f7f5b2; }
  .main3 .galeria {
    background-color: #87dbf0;
    text-align: center;
    color: black; }

.main4 .tittle4 {
  background-color: gray;
  font-family: Georgia, Times, "Times New Roman", serif;
  text-align: center;
  color: #f7f5b2; }

.plus {
  align-items: center;
  font-family: Georgia, Times, "Times New Roman", serif; }

@media (max-width: 600px) {
  .foot {
    text-align: center; }
  .plus {
    text-align: center; }
  .img {
    text-align: center; }
  .main4 {
    text-align: center; } }

@media screen and (max-width: 1200px) and (min-width: 600px) {
  .foot {
    text-align: center; }
  .plus {
    text-align: center; }
  .img {
    text-align: center; }
  .section.textocarrusel {
    text-align: center; } }
